<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RBSTrackerbotDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1224D401D9D358E007DF1CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1224D5C1D9D358E007DF1CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1224D671D9D358E007DF1CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
